* {
	box-sizing: border-box;
	margin: 0
}

body {
	font-family: verdana;
	background-color: #eee;
	color: #333;
}

.wrapper {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

/*************************
	MENU BASE STYLES
**************************/

nav {
	background-color: #333;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav a {
	text-decoration: none;
	color: #fff;
	padding: 10px;
	text-align: center;
	display: block;
}

nav a:hover {
	background-color: #555;
}

a.grid {
	background-color: #000;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	padding: 2px;
	font-size: 13px;
	font-weight: bold;	
}
	
 a.stack {
	background-color: #fff;
	color: #000;
	text-decoration: none;
	border-radius: 5px;
	padding: 3.3px;
	font-size: 13px;
	font-weight: bold;
}


/*************************
	SOCIAL MENU BASE STYLES
**************************/

a.tw {
	background-image:  url(../../nested-flex-menu/img/tw.png); 
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 80%;
}

a.fb {
	background-image:  url(../../nested-flex-menu/img/fb.png); 
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 80%;
}

.social a {
	text-indent: -10000px;
	margin: 0 auto; 
}

.social {
	max-width: 80px;
	margin: 0 auto;
}


/***************************
	GRID VS FLEX BASE STYLES
****************************/

#blocks {
	margin: 20px;
}

article {
	background: #fff;
	margin-bottom: 20px;
	padding: 10px;
	color: #000;
}

//article-reverse {
	background: #fff;
	margin-bottom: 20px;
	padding: 10px;
	color: #000;
}

article h2 {
	font-size: 1.25rem;
	margin: 10px 0;
	text-align: center;
}



/***********************
	FLEX STYLES
************************/

nav ul.social li {
	flex: 1 1 0;
}

nav ul.social  {
	flex: 1 1 0;
	display: flex;
}



/***********************
	MEDIA QUERIES
************************/

@media (min-width: 768px) {
	
	nav ul {
		display: flex;
	}
	
	nav li {
		flex: 1 1 0;
	}
	
	nav {
		display: flex;
		justify-content: space-between;
	}
	
	ul.social {
		margin: 0;
	}
	
	#blocks {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	article {
		flex: 0 1 32%;  /* this gives us 3 on each line -- with 4% left over */
		background: #000;
		color: #fff;
		transition: ease-in-out 3s;
	}
	
	.stackable {
		flex: 0 1 100%;
		color: #000;
		background: #fff;
		border: 1px solid #555;
	}
	
	.switcher a.grid {
		background-color: #000;
		color: #fff;
		text-decoration: none;
		border-radius: 5px;
		padding: 10px;
		font-size: 1rem;
	}
	
	.switcher a.stack {
		background-color: #fff;
		color: #000;
		text-decoration: none;
		border-radius: 5px;
		padding: 10px;
		font-size: 1rem;
		
	}
	
	.switcher {
		margin: 1.25rem;
	}
}